<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;" class="col-md-12">
    <tr>
      <td><b>Name&nbsp;</b></td>
      <td><b>Age&nbsp;</b></td>
      <td><b>Email&nbsp;</b></td>
      <td colspan="3"></td>
    </tr>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'Show', student, type: 'button', class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class: 'btn btn-success' %></td>
        <td><%= link_to 'Destroy', student, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
